# .gitignore

# MacOS
.DS_Store

# vim
*~
*.swp

# Project
sourcefiles/*
mediafiles/*
reference/*
#fonts/*

# container
media/*
!media/source_files/
custom/*

# python
__pycache__*
venv/*

# pytest
.coverage
.pytest_cache
