# CI Github Action
---

name: ci

on:
  pull_request:
    branches: [main]

jobs:
  black_pylint_pytest:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repo
        uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - name: Install imagemagick
        run: |
          sudo apt-get update
          sudo apt-get install -y imagemagick

      - name: install requirements.txt
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: install fonts
        run: sudo cp -r fonts /usr/local/share/fonts

      - name: install black
        run: pip install black

      - name: run black
        run: |
          black app/*.py
          black tests/test_logic/*.py

      - name: install pylint
        run: pip install pylint

      - name: run pylint
        run: |
          pylint app/*.py
          # pylint tests/test_logic/*.py

      - name: install pytest
        run: pip install pytest

      - name: run pytest
        run: pytest -vv -x --cov-report term-missing --cov=app tests

      - name: generate report
        run: coverage report -m
